* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: AblogFont;
    src: url("../font/font.subset.woff2");
}

html {
    font-size: 62.5%;
    transition: filter 800ms;
}

body {
    font-family: AblogFont, serif;
    width: 100%;
    overflow-x: hidden;
}

.FloatEnd {
    clear: both;
}

.Head {
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
}

#BlogName {
    margin: 8px 12px 8px 0;
    font-size: 2rem;
    float: right;
}

#BlogName a {
    text-decoration: none;
}

#SideBar {
    margin: 8px 0 8px 12px;
    font-size: 2rem;
    float: left;
}

#SideBarBody {
    position: absolute;
    width: 70%;
    font-size: 1.4rem;
    left: -70%;
    top: auto;
    margin-top: -20px;
    transition: left 700ms;
    z-index: 99999;
    position: fixed;
    padding: 18px 12px 14px 12px;
    height: 100%;
}

#SideBarBody p {
    line-height: 2.4rem;
}

.Body {
    width: 95%;
    max-width:1024px;
    margin: 60px auto 30px auto;
}

.Bottom {
    text-align: center;
    font-size: 2rem;
    margin: 30px auto 50px auto;
}