html{
	background-color:#22211f;
}
.Head{
	background-color: #22211f;
    box-shadow: 0px 8px 8px #1f1f1f;
}
#SideBarBody,#SideBar,.Bottom,#BlogName a{
	color: darkgray;
}
#SideBarBody{
	background-color: #212020e0;
}
#SideBarBody p:hover{
	color: #528078;
}
#upload {
	display: block;
	height:25rem;
	line-height:25rem;
	width: 80%;
	margin:10rem auto 0 auto;
	text-align: center;
    position: relative;
    color: darkgray;
    background: #31302d;
    border: 1px solid #ddd;
    border-radius: 10px;
	font-size: 3rem;
}

#upload  input {
    position: absolute;
    right: 0;
    top: 0;
	bottom: 0;
	left: 0;
    opacity: 0;
}

#upload:hover {
    color: #444;
    background: rgb(37, 29, 29)11f;
    border-color: #ccc;
    text-decoration: none
}